
@media (min-width: 768px) {
  .header {
    padding: 18px 24px;
  }
  .menu__burger-logo-wrapper {
    align-items: center;
    justify-content: start;
  }

  .navigation__burger-logo-wrapper::after {
    display: none;
  }

  .navigation__burger {
    display: flex;
    margin-right: 0;
    align-self: center;
  }

  .navigation__burger::after {
    content: url(../assets/img/divider.svg);
    display: flex;
    height: 32px;
    align-self: center;
    margin: 0px 20px;
  }

  .navigation__contacts-wrapper {
    align-items: center;
    justify-content: flex-end;
  }

  .contacts{
    justify-content: flex-end;
  }

  .contacts__item{
    margin-right: 16px;
  }

  .repair-status{
    margin-right: 0px;
  }
  .contacts__call{
    display: flex;
    order:-3;
  }
  
  .contacts__chat{
    display: flex;
    order:-2;
  }
  
  .contacts__profile{
    display: flex;
    order: -1;
  }

  .contacts__profile::after{
    content: url(../assets/img/divider.svg);
    display: flex;
    height: 32px;
    align-self: center;
    margin: 0px 4px 0px 20px;
  }

  .title-wrapper::before {
    margin-right: 24px;
  }

  .dell-info {
    display: flex;
    margin: 0;
    padding-left: 24px;
  }

  .dell-info__text {
    flex: 1 auto;
    font-family: "TT Lakes";
    font-size: 14px;
    line-height: 20px;
    width: 312px;
    margin-right: 48px;
    color: #1b1c21;
  }

  .dell-info__paragraph-md {
    display: flex;
    margin-bottom: 10px;
  }
  .dell-info__image-wrapper {
    flex: 1 auto;
    padding-right: 25px;
  }
}

@media (min-width: 1120px) {
  .container {
    margin: 0 auto;
  }
  .container .header {
    display: none;
  }
  .main {
    padding-top: 40px;
  }

  .title-wrapper{ 
    padding-right: 32px;
    padding-bottom: 32px;
  }

  .title-wrapper::before {
    margin-right: 30px;
  }

  .title__contacts{
    display:flex;
    flex: 1 auto;
    justify-content: flex-end;   
  }
  .dell-info {
    padding-left: 34px;
  }
  .dell-info__paragraph-xl {
    display: contents;
  }
}
