
html,body{
  width: 100%;
  height: 100%;
}
body {
  font-family: "TT Lakes";
  background-color: #F2F2F2;
}

.aside{
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 100%;
  background-color: #ffff;
  box-shadow: 16px 0px 52px 0px #0E185033,
              -2px 0px 4px 0px #454F7E05;
}

.inner__container{
  display: flex;
  flex-direction: column;
  flex:auto;
  padding: 0px 24px 0px 24px;
}

.aside__header{
  display: flex;
  align-items: center;
  padding-top: 18px;
  margin-bottom: 45px;
}

.aside__button{
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}



.aside__burger-button{
  margin-right: 16px;
}

.aside__search-button{
  margin-left: auto;
}

.aside__button:hover{
  cursor: pointer;
  transition: box-shadow,opacity 250ms ;
  opacity: 0.8;
  box-shadow: 0px 0px 2px 1px rgb(112, 25, 12);
}

.aside__button:focus{
  cursor: pointer;
  transition: box-shadow,opacity 150ms ;
  opacity: 0.8;
  box-shadow: 0px 0px 2px 1px rgb(112, 25, 12);
}

.aside__button:active{
  cursor: pointer;
  transition: box-shadow,opacity 150ms ;
  opacity: 0.8;
  box-shadow: 0px 0px 2px 1px rgb(112, 25, 12);
}


.aside__link{
  cursor: pointer;
  display: flex;
  color: #1B1C21;
  font-weight: 500;
}

.aside__navigation-link{
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
}

.aside__link--active{
  align-items: center;
}


.aside__navigation-item--active::before{
  content: "";
  display: flex;
  position: absolute;
  left: -24px;
  top: -5px; 
  border-right: 4px solid #41F6D7;
  height: 32px;
  border-radius: 20%;
}

.aside__link:hover{
  cursor: pointer;
  color:  #7E7E82;
  transition: color 200ms;
}

.aside__link:focus{
  cursor: pointer;
  color:  #FF3E79;
  transition: color 200ms;
}

.aside__link:active{
  cursor: pointer;
  color:   #FF3E79;
  transition: color 200ms;
}

.aside__navigation{
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  margin-bottom: 32px;
}


.aside__navigation-item{
  display: flex;
  position: relative;
  width: 100%;
  height: 24px;
}


.aside__navigation-item--active{
  align-self: flex-end;
}

.aside__footer{
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;
  justify-content: end;
  padding-bottom: 32px;
}

.aside__footer-item{
  margin-right: 16px;
}

.aside__footer-item:last-child{
  margin-right: 0px;
}

.aside__contacts{
  display: flex;
  margin-bottom: 16px;
}

.aside__mail-link{
  margin: 0;
  font-weight: 600;
  color: #1B1C21;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.aside__phone-link{
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;
}

.aside__language{  
  display: flex;  
}



.aside__language-item{
  margin-right:7px;
  font-weight: 500;
}

.aside__label{
  display: flex;
}

.aside__radio{
  appearance: none;
  position: absolute;
}

.aside__radio-text{
  font-weight: 500;
}

.aside__radio-text:hover{
  cursor: pointer;
  color:  #7E7E82;
  transition: color 200ms;
}

.aside__radio-text:checked{
  cursor: pointer;
  color:  #7E7E82;
  transition: color 200ms;
}

.aside__radio-text:focus{
  cursor: pointer;
  color:  #7E7E82;
  transition: color 200ms;
}

.aside__radio-text:active{
  cursor: pointer;
  color:  #7E7E82;
  transition: color 100ms;
}

.aside__radio:checked + .aside__radio-text{
  cursor: pointer;
  color: #7E7E82;
  transition: color 200ms;
  
}






 







